---
import Layout from '../layouts/Layout.astro';
import Sum from '../components/Sum.vue';
import '../styles/global.css';
---

<Layout title="Calculadora de gastos">
	<main>
		<Sum client:load/>
	</main>
</Layout>

<style>
	
</style>
